.header img {
  float: top;
  width: 25px;
  height: 25px;
  background:  #FFF;
}

.header h3 {
  position: relative;
  top: 18px;
  left: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	
	border-radius: 4px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	
	border-radius: 4px;
}

